    <title>Sentalive - Live Sentiment Analysis</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <!-- Bootstrap core CSS -->
    <link href="../public/stylesheets/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../public/stylesheets/main.css" rel="stylesheet">
    <link href="../public/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/scripts/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <style>
        h3 {
          color: white;
        }
    </style>