    <title>Sentalive - Live Sentiment Analysis</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/public/css/main.css" rel="stylesheet">
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">
    <link href="/scripts/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <style>
        h3 {
          color: white;
        }
        .btn-primary.btn {
  border-color: #F74C17;
  border-bottom-color: #F74C17;
  background-color: #F74C17;
  color: #fff;
}
    </style>